---
layout: default
title: Erlang & Elixir conference March 7-8, 2023 | Training March 6 | San Francisco
image: assets/images/CBA24 - banner www.jpg

---
{% include cover.html %}
<!-- end of cover -->
{% comment %} {% include banner-1.html %} {% endcomment %}
<!-- end of banner-1  -->
{% include cft.html %}
<!-- end of cft  -->
{% include banner-3.html %}
<!-- end of banner-3 -->
{% include welcome.html %}
<!-- end of welcome -->
{% comment %} {% include travelling.html %} {% endcomment %}
<!-- end of travelling -->
{% comment %} {% include register.html %} {% endcomment %}
<!-- end of register -->
{% comment %} {% include banner-2.html %} {% endcomment %}
<!-- end of banner-2 -->
{% comment %} {% include recordings.html %} {% endcomment %}
<!-- end of recordings -->
{% comment %} {% include banner-5.html %} {% endcomment %}
<!-- end of students -->
{% comment %} {% include video.html %} {% endcomment %}
<!-- end of video -->
{% comment %} {% include schedule.html %}  {% endcomment %}
<!-- end of schedule -->
{% comment %} {% include keynotes.html %}  {% endcomment %}
<!-- end of speakers -->
{% comment %} {% include speakers.html %}  {% endcomment %}
<!-- end of speakers -->
{% comment %} {% include lightningtalks.html %} {% endcomment %}
<!-- end of lightningtalks -->
{% comment %} {% include trainers.html %} {% endcomment %}
<!-- end of trainers -->
{% comment %} {% include training.html %} {% endcomment %}
<!-- end of training -->
{% comment %} {% include diversity.html %} {% endcomment %}
<!-- end of diversity -->
{% comment %} {% include banner-4.html %} {% endcomment %}
<!-- end of volunteer -->
{% include venue.html %}
<!-- end of venue -->
{% comment %} {% include hotels.html %} {% endcomment %}
<!-- end of hotels -->
{% comment %} {% include covid-19.html %} {% endcomment %}
<!-- end of covid-19 -->
{% include hybrid.html %}
<!-- end of hybrid -->
{% comment %} {% include shop.html %} {% endcomment %}
<!-- end of shop -->
{% comment %} {% include blog.html %} {% endcomment %}
<!-- end of blog -->
{% include members.html %}
<!-- end of cft  -->
{% include sponsors.html %}
<!-- end of sponsors -->
{% include newsletter.html %}
<!-- end of newsletter -->
{% include contact.html %}
<!-- end of contact -->
