---
layout: default
title: Code BEAM America - the Erlang & Elixir Conference March 7-8 2024
image: assets/images/CBA24 - banner www2.png

---
{% include cover.html %}
<!-- end of cover -->
{% comment %} {% include countdown.html %} {% endcomment %}
<!-- end of coundown -->
{% comment %} {% include modal.html %}  {% endcomment %}
<!-- end of modal -->
{% include banner-1.html %}
<!-- end of banner-1  -->
{% comment %}{% include webinar.html %}{% endcomment %}
<!-- end of webinar  -->
{% include welcome.html %}
<!-- end of welcome -->
{% comment %} {% include travelling.html %} {% endcomment %}
<!-- end of travelling -->
{% include banner-2.html %}
<!-- end of banner-2 -->
{% comment %} {% include recordings.html %} {% endcomment %}
<!-- end of recordings -->
{% comment %} {% include video.html %} {% endcomment %}
<!-- end of video -->
{% comment %} {% include schedule.html %}  {% endcomment %}
<!-- end of schedule -->
{% include keynotes.html %}
<!-- end of speakers -->
{% include speakers.html %}
<!-- end of speakers -->
{% comment %} {% include lightningtalks.html %} {% endcomment %}
<!-- end of lightningtalks -->
{% include trainers.html %}
<!-- end of trainers -->
{% include training.html %}
<!-- end of training -->
{% comment %} {% include register.html %}{% endcomment %}
<!-- end of register -->
{% include diversity.html %}
<!-- end of diversity -->
{% include banner-5.html %}
<!-- end of students -->
{% comment %} {% include hotels.html %} {% endcomment %}
<!-- end of hotels -->
{% comment %} {% include covid-19.html %} {% endcomment %}
<!-- end of covid-19 -->
{% include hybrid.html %}
<!-- end of hybrid -->
{% include members.html %}
<!-- end of cft  -->
{% include banner-4.html %}
<!-- end of volunteer -->
{% comment %}{% include cft.html %}{% endcomment %}
<!-- end of cft  -->
{% comment %} {% include banner-3.html %} {% endcomment %}
<!-- end of banner-3 -->
{% comment %} {% include shop.html %} {% endcomment %}
<!-- end of shop -->
{% comment %} {% include blog.html %} {% endcomment %}
<!-- end of blog -->
{% include venue.html %}
<!-- end of venue -->
{% include sponsors.html %}
<!-- end of sponsors -->
{% include newsletter.html %}
<!-- end of newsletter -->
{% include contact.html %}
<!-- end of contact -->
