<div class="banner-3"
  id="call-for-tutorials"
  style="background-image: url('{{site.baseurl}}/assets/images/background-gradient.jpg');"
>
  <h3 class="text">
    Ignite the Erlang, Elixir, and BEAM enthusiast within you!
    Share your expertise and shape the future of our community by submitting your engaging tutorial proposal today..
  </h3>
  <a
    class="page-scroll btn-outline  btn-orange-hover-white ml-1" target=”_blank”
    href="https://docs.google.com/forms/d/e/1FAIpQLScznprLqz0qLA5a1rsHly-wk35aJuavG9muhATd8tpRADIgjg/viewform"
    >SUBMIT TUTORIAL</a
  >
</div>
