<div class="banner-1" id="student">
    <h3 class="text">
        As part of our efforts to grow the community, the Erlang Ecosystem Foundation would like to invite
        students, underrepresented groups in tech to attend the <strong>virtual</strong> conference for free.
        (For <strong>in-person</strong> student tickets for $470.50 contact us using your student email address.)
    </h3>
    <a class="page-scroll btn-outline btn-purple ml-1" href="https://forms.gle/k47gPGJEZRnTZzwt7">APPLY</a>
</div>
