<div class="section webinar" id="bof">
    <div class="row">
        <div class="left-content left">
          <h2 class="title">Themed roundtables</h2>
          <hr/>
          <p>Step into 40-minute Birds of a Feather (BoF) sessions to explore topics like Embedded and Frameworks, Domain-Driven Development, and Designing for Scalability and Reliability. <br> On the second day, join small, roundtable groups of up to 10 participants to share ideas, tackle challenges, and network with peers. Feel free to switch tables during the session to discover new conversations. 
          </br>Lively, informal, and impactful—these sessions are your chance to dive deeper into the subjects that matter most to you.</br>
          </p>
          <p class="text-content mb-5" align="center" style="margin-top:3em">
          </p>
        </div>
        <div class="logo">
          <br/>
          <img src="/assets/images/BOF-2025.png" alt="roundtable discussions" style="display:block; width:80%; margin-left: auto; margin-right: auto">
        </div>
    </div>
</div>
