<div
  class="section"
  id="cft"
  style="background-image: url('{{site.baseurl}}/assets/images/background-gradient.jpg');"
>
  <h2 class="title">CALL FOR TALKS</h2>
  <hr />
  <br />
  <div class="call-for-talks">
    <h3 class="text-title mb-1" style="color: #ffffff">
      Do you have what it takes to lead a conference session or tutorial?<br>
      Have you made an interesting innovation, open-source application or product with Erlang/OTP?<br>
      Have you used Erlang or Elixir in a real-world project and want to present a case study? Tell us about it!
    </h3>
    <p class="text-content mb-2" align="left" style="color: white">
      This year we’re accepting talks from people who are happy to deliver them
      in-person. We welcome proposals about Erlang, Elixir, BEAM and
      other technologies and we are happy to support candidates from
      under-represented groups in the software development community. CFT
      deadline: <b>23:59 PT on 29 October 2023</b><br />
    </p>
<!--    <ul class="text-content mb-2" align="left" style="color: white">
      We are looking for great talk ideas around the 6 themes of:
      <li>
        Growth - overcoming challenges, such as how to onboard new members to
        your team, adopt new technologies or take your new products to the next
        level
      </li>
      <li>
        DevOps - how software is behaving in the actual production environment,
        overcoming usual and unusual challenges in your production environment.
      </li>
      <li>
        Web/Cloud - latest paradigms and frameworks for web and cloud
        development.
      </li>
      <li>
        Fighting technical debt - improving legacy systems, and new developments
        in the tools that helped to do so.
      </li>
      <li>Innovation - the latest cool projects in the ecosystem.</li>
      <li>
        History & Philosophy of the Ecosystem - first-person accounts, holistic
        overviews or specific case reviews of rich heritage, and how they are
        helping shape the future.
      </li>
    </ul>-->
    <a
      class="page-scroll btn-outline btn-purple mb-5 btn-purple"
      href="https://sessionize.com/code-beam-america-2024/"
      >CFT starts Oct 30</a
    >
  </div>
</div>
