<div
  class="section"
  id="cft"
  style="background-image: url('{{site.baseurl}}/assets/images/background-gradient.jpg');"
>
  <h2 class="title">CALL FOR TALKS</h2>
  <hr />
  <br />
  <div class="call-for-talks">
    <h3 class="text-title mb-1" style="color: #ffffff">
      DO YOU HAVE WHAT IT TAKES TO LEAD A CONFERENCE SESSION OR TUTORIAL? HAVE
      YOU MADE AN INTERESTING INNOVATION, OPEN-SOURCE APPLICATION OR PRODUCT
      WITH ERLANG/OTP? HAVE YOU USED ERLANG OR ELIXIR IN A REAL-WORLD PROJECT
      AND WANT TO PRESENT A CASE STUDY? TELL US ABOUT IT.
    </h3>
    <p class="text-content mb-2" align="left" style="color: white">
      This year we’re accepting talks from people who are happy to deliver them
      in-person or virtually from anywhere in the world (though keep in mind the
      Pacific time zone). We welcome proposals about Erlang, Elixir, BEAM and
      other technologies and we are happy to support candidates from
      under-represented groups in the software development community. CFT
      deadline: <b>23:59 PT on 17 July 2022</b><br />
    </p>
    <ul class="text-content mb-2" align="left" style="color: white">
      We are looking for great talk ideas around the 6 themes of:
      <li>
        Growth - overcoming challenges, such as how to onboard new members to
        your team, adopt new technologies or take your new products to the next
        level
      </li>
      <li>
        DevOps - how software is behaving in the actual production environment,
        overcoming usual and unusual challenges in your production environment.
      </li>
      <li>
        Web/Cloud - latest paradigms and frameworks for web and cloud
        development.
      </li>
      <li>
        Fighting technical debt - improving legacy systems, and new developments
        in the tools that helped to do so.
      </li>
      <li>Innovation - the latest cool projects in the ecosystem.</li>
      <li>
        History & Philosophy of the Ecosystem - first-person accounts, holistic
        overviews or specific case reviews of rich heritage, and how they are
        helping shape the future.
      </li>
    </ul>
    <a
      class="page-scroll btn-outline btn-purple mb-5 btn-purple"
      href="https://sessionize.com/code-beam-america-2022"
      >CFT is CLOSED</a
    >
  </div>
</div>
