<div
  class="section"
  id="cft"
  style="background-image: url('{{site.baseurl}}/assets/images/background-gradient.jpg');"
>
  <h2 class="title">CALL FOR TALKS</h2>
  <hr />
  <br />
  <div class="call-for-talks">
    <h3 class="text-title mb-1" style="color: #ffffff">
      Be part of Code BEAM America 2025<br>
      Have you made an interesting innovation, open-source application or product with Erlang/OTP?<br>
      Have you used Erlang or Elixir in a real-world project and want to present a case study? Tell us about it!
    </h3>
    <p class="text-content mb-2" align="left" style="color: white">
      This year we’re accepting talks from people who are happy to deliver them
      in-person. We welcome proposals about Erlang, Elixir, Gleam and
      other technologies based on BEAM VM. </br> CFT
      deadline: <b>23:59 PT on October 20 2024.</b>We are happy to support candidates from
      under-represented groups in the software development community.<br />
    </p>
    <ul class="text-content mb-2" align="left" style="color: white">
      <b>We are looking for great talk ideas around the 6 themes of:</b>
      <li>
        <strong>Growth of the Ecosystem</strong> - The last decade has seen the BEAM ecosystem grow from being comprised of a handful of
        languages in use for a few domains, to a vibrant ecosystem of languages, frameworks, and tools,
        spread across teams of every size.
        What have you learned about building and retaining teams in such a diverse and rapidly changing ecosystem?
      </li>
      <li>
        <strong>Edge, Cloud & Devices</strong> - From the smallest embedded devices to the largest cloud deployments,
        the BEAM is a versatile runtime that can be deployed anywhere.
        What paradigms and frameworks are you using to build applications that span the edge, cloud, and devices?
      </li>
      <li>
        <strong>AI & Machine Learning</strong> - Between Nx, Axon, and a growing ecosystem of NIFs dedicated to machine learning,
        the BEAM has quickly become a powerful platform for AI.
        How are you leveraging the runtime's capabilities to power machine learning in your applications?
      </li>
      <li>
        <strong>Containerisation & DevOps</strong> - The joke has long been that the hardest part of writing an application for the BEAM
         is deploying it. But between tools like Burrito and established practices around observability and orchestration,
        it's never been easier to deploy and manage large-scale production BEAM environments.
      </li>
      <li>
        <strong>Fighting Technical Debt</strong> - Improving legacy systems and breaking the monolith.
      </li>
      <li>
        <strong>History, Innovation & Sustainability</strong> - How we learn from the past to shape the future through innovation and green tech.
      </li>
    </ul>
    
    <a
      class="page-scroll btn-outline btn-purple mb-5 btn-purple" target=”_blank”
      href="https://sessionize.com/code-beam-america-2025/"
      >SUBMIT TALK</a
    >
  </div>
</div>
