<div class="cover" id="cover" style="background-image: url('{{site.baseurl}}/assets/images/background-ppl.jpg');">
  <div class="logo">
    <img
      src="{{ site.baseurl }}/assets/images/code-beam-logo.png"
      alt="icon-about"
    />
  </div>
  <div class="col-right">
    <h4 class="date" style="color: #19f5ff">
      Where Erlang & Elixir Developers Unite To Share the Secrets to Scale to Billions
<br />
      <span style="color: #fff; font-size: 22px">NOVEMBER 03-04, 2022</span>
    </h4>
    <p> Erlang and Elixir share the same Virtual Machine, the BEAM. This ingenious little bit of technology is perfect for fault-tolerant, resilient applications that scale to billions of users, which is one of the biggest challenges facing developers and companies today. Code BEAM has united Erlang & Elixir developers for [insert number] of years to grow and progress the community in the spirit of Share. Learn. Inspire.
<br><br>

Share <br>
Across technologies, and industries there are a lot of common problems. Code BEAM is an event where leading developers in Erlang, Elixir and other BEAM based technologies like RabbitMQ share their use cases and success stories in areas such as fintech, IoT, Blockchain, Machine Learning, Cloud Computing and Massively Scale Distributed Software, scalability and parallelism to allow us to grow together.
<br><br>

Learn <br>
We pride ourselves on our connection with community and industry leaders. At Code BEAM events you’ll be the first to learn about new frameworks and applications for the BEAM VM that can increase your productivity and help make your life easier. You’ll often hear from members of the core teams of some of the community's most popular frameworks like Elixir, OTP, LiveView and many more.<br>

Inspire <br>
Our conferences are a melting pot that bring together developers of different experience levels, technological preferences and industry backgrounds making them a great place to connect and learn from one another. Now, more than ever, conferences are a great opportunity to bring your team together to meet in person and connect with like-minded people to inspire the next big idea.<br>

    </p>
  
    <!-- <h4 class="date" style="text-align:center;">Call for Talks for 2022 is open!</h4>
    <a class="page-scroll btn-outline mb-3 btn-purple" href="https://sessionize.com/code-beam-america-2022/">SUBMIT TALK</a> -->
    <!--<a class="page-scroll btn-arrow" href="#welcome">
      <span class="fa fa-chevron-down"></span>
    </a>-->
  </div>
<!--  <div class="cover-bottom">
    <h4 class="call-for-talks" style="color: #fff; font-size: 22px">
      <span style="color: #e32dfd;">CALL FOR TALKS</span>
      <br>
      IS OPEN AND CLOSES ON 17 JULY 2022
    </h4>
  </div>-->
</div>
