<div class="cover" id="cover" style="background-image: url('{{site.baseurl}}/assets/images/background-ppl.jpg');">
  <div class="logo">
    <img
      src="{{ site.baseurl }}/assets/images/code-beam-logo.png"
      alt="icon-about"
    />
  </div>
  <div class="col-right">
    <h4 class="date" style="color: #19f5ff">
      CODE BEAM AMERICA RETURNS NOVEMBER 2022!<br />
      <span style="color: #fff; font-size: 22px">CONF NOV. 3-4 / TUTORIALS NOV. 1 & 2</span><br />
      <span style="color: #fff; font-size: 18px">Computer History Museum, Mountain View, CA. & online</span>
    </h4>
    <p class="text-content mb-1">
      <p>Bringing the Erlang and Elixir communities together to Learn, Share and be Inspired.
        <br /><br />
        Conference and Tutorial Highlights:
        <br />
        <a href="/talks/refactoring-via-the-language-server-protocol/">-> Refactoring via the Language Server Protocol</a><br>
        <a href="/talks/an-elixir-application-to-a-small-hydropower-plant-with-nerves-machines/">-> An Elixir application to a small hydropower plant with Nerves machines</a><br>
        <a href="/talks/elixir-update/">-> Elixir Update with Andrea Leopardi</a><br>
        <a href="/talks/deep-dive-in-nx-backends/">-> Deep dive in Nx Backends</a><br>
        <a href="/trainings/Architecting-reactive-systems/">-> Architecting Reactive Systems with Francesco Cesarini</a>
        </p>


     <h4 class="call-for-talks" style="color: #fff; font-size: 22px">
       <span style="color: #e32dfd;">
         2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         30+ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         300+</span>
       <br>
       DAYS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       TRACKS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       SPEAKERS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       ATTENDEES
     </h4><br>
    <!-- <h4 class="date" style="text-align:center;">Call for Talks for 2022 is open!</h4>
    <a class="page-scroll btn-outline mb-3 btn-purple" href="https://sessionize.com/code-beam-america-2022/">SUBMIT TALK</a> -->
    <!--<a class="page-scroll btn-arrow" href="#welcome">
      <span class="fa fa-chevron-down"></span>
    </a>-->
  </div>
<!--  <div class="cover-bottom">
    <h4 class="call-for-talks" style="color: #fff; font-size: 22px">
      <span style="color: #e32dfd;">CALL FOR TALKS</span>
      <br>
      IS OPEN AND CLOSES ON 17 JULY 2022
    </h4>
  </div>-->
</div>
