<div class="cover" id="cover" style="background-image: url('{{site.baseurl}}/assets/images/background-ppl.jpg');">
  <div class="logo">
    <img
      src="{{ site.baseurl }}/assets/images/code-beam-logo.png"
      alt="icon-about"
    />
  </div>
  <div class="col-right">
    <h4 class="date" style="color: #19f5ff">
      CODE BEAM AMERICA RETURNS MARCH 2024!<br />
      <span style="color: #fff; font-size: 22px">CONF MARCH 7-8 | TUTORIALS MARCH 6</span><br />
      <span style="color: #fff; font-size: 18px">Marines Memorial Club & Hotel, San Francisco, CA.</span>
    </h4>
    <p class="text-content mb-1">
      <p>Bringing the Erlang and Elixir communities together to Learn, Share and be Inspired.
       <br /><br />
       Meet people and companies using and developing high performance,
       fault-tolerant and resilient applications that scale to billions of users in production in areas like Fintech,
       eCommerce, IoT, Gaming, Blockchain, Security, Machine Learning and more.
<!--        Last Year's Highlights:
        <br />
        <a href="https://youtu.be/BIeGVqg9bYo" target=”_blank”>-> Keynote: We are stronger together | Andrea Leopardi & Maxim Fedorov</a><br>
        <a href="https://youtu.be/M-2WZ7-ptM8" target=”_blank”>-> Keynote: Security Under the BEAM | Boyd Multerer</a><br>
        <a href="https://youtu.be/FxDm8VP2-zs" target=”_blank”>-> Keynote: Formal Verification? No, Formal Reasoning! | Marianne Bellotti</a><br>
        <a href="https://youtu.be/2vbQLT005zc" target=”_blank”>-> An Elixir app to a small hydropower plant with Nerves | Yutaka Kikuchi </a><br>
        <a href="https://youtu.be/qjsDzYPodBs" target=”_blank”>-> ActiveMemory the missing ORM for ETS and Mnesia | Erin Boeger</a>
        <a href="https://youtu.be/Bzdta6dujBM" target=”_blank”>-> Good behaviour: Cultivating Healthy Elixir Teams & Codebases | Meryl Dakin</a>
-->
        </p>
        <p style="color: #e32dfd;">
          Call for Talks for 2024 is open!<br />
          <br />
          If you don't want to miss the cheapest tickets sign up for:
        </p>
        <a class="page-scroll btn-outline mb-3 btn-purple" href="https://sessionize.com/code-beam-america-2022/">WAITING LIST</a>
     <h4 class="call-for-talks" style="color: #fff; font-size: 22px">
       <span style="color: #e32dfd;">
         2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         30+ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         250+</span>
       <br>
       DAYS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       TRACKS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       SPEAKERS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       ATTENDEES
     </h4><br>
<!--<h4 class="date" style="text-align:center;">Call for Talks for 2024 is open!</h4>-->
<!--    <a class="page-scroll btn-arrow" href="#welcome">
      <span class="fa fa-chevron-down"></span>
    </a>-->
  </div>
<!-- <div class="cover-bottom">
    <h4 class="call-for-talks" style="color: #fff; font-size: 22px">
      <span style="color: #e32dfd;">WAITING LIST</span>
      <br>
      SIGN UP FOR CHEAPEST TICKETS
    </h4>
</div>-->
</div>
