<div class="footer" id="footer">
    <div class="social-icons">
        <a href="https://www.youtube.com/c/CodeSync" target="_blank">
            <i class="fi flaticon-youtube"></i>
        </a>
        <a href="https://twitter.com/codebeamio?lang=en" target="_blank">
            <i class="fi flaticon-twitter"></i>
        </a>
    </div>
    <hr/>
    <p>All Rights Reserved</p>
    <p>
        <strong>Code Sync</strong>
        © 2022 Copyright</p>

      <p>
    <br>
            <strong>View <a href="https://codesync.global/about-us/#Conduct"> Code of Conduct</a> </strong>
          <br>

</div>
