<div class="footer" id="footer">
  <div class="social-icons">
    <a href="https://www.youtube.com/c/CodeSync" target="_blank">
        <i class="fi flaticon-youtube"></i>
    </a>
    <a href="https://twitter.com/codebeamio?lang=en"" target="_blank">
        <i class="fi flaticon-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/company/code-sync/"" target="_blank">
        <i class="fi flaticon-linkedin""></i>
    </a>
  </div>
  <hr />
  <p>All Rights Reserved</p>
  <p>
    <strong>Code Sync</strong>
    © 2024 Copyright
  </p>
  <p>
    <strong>Organised by</strong>
    <a href="https://codesync.global">Code Sync</a> powered by <a href="https://www.erlang-solutions.com/?utm_source=elixirconf&utm_medium=referral">Erlang Solutions</a>
  </p>

  <p>
    <br />

      <a href="https://codesync.global/terms_and_conditions/"> Terms of use</a>
      |
      <a href="https://codesync.global/about-us/#Conduct"> Code of Conduct</a>
      |
      <a href="https://codesync.global/privacy_policy/"> Privacy Policy</a>
      |
      <a href="https://codesync.global/page/18/"> Anti-Slavery Policy</a>

  </p>
</div>
