<div class="section webinar" id="hardware">
    <div class="row">
        <div class="left-content left">
          <h2 class="title">HARDWARE HACKING</h2>
          <hr/>
          <p>Have you ever wanted to hack hardware using the BEAM? Join Erlang Solutions experts at Hardware Hacking Area, pull out your laptop and start cracking the code! Build your own IoT sensor running Elixir.
          </br></br>
          These self-paced sessions will be accessible throughout the entire conference for free. 
          </p>
          <p class="text-content mb-5" align="center" style="margin-top:3em">
          </p>
        </div>
        <div class="logo">
          <br/>
          <img src="/assets/images/hardwarehacking.png" alt="hardwarehacking2024" style="display:block; width:80%; margin-left: auto; margin-right: auto">
        </div>
    </div>
</div>
