<div class="section welcome" id="hotels">
    <h2 class="title">HOTELS</h2>
    <hr/>
    <div class="row">
      <div class="column">
        <img src="/assets/images/hotels/map-radison.png" alt="radison map">
            <p class="text-content">
              <strong>RADISSON HOTEL SUNNYVALE – SILICON VALLEY</strong><br>
              1300 Chesapeake Terrace, Sunnyvale, CA 94089<br>
              ROOM RATE: $167 (without taxes) per person per day, includest breakfast buffet<br>
              To book contact the Hotel through toll free reservations number at 1-866-231-9273<br>
              or online at <a href="https://www.radissonhotelsamericas.com/en-us/hotels/radisson-sunnyvale-silicon-valley" target="_blank">www.radissonhotelsamericas.com/</a> using the group’s promotional code CODE BEAM AMERICA by October 2.
            </p>
      </div>
      <div class="column">
      <p class="text-content">
          We are pleased to announce that Code BEAM America 2022 is implementing a Diversity Scheme. The goal of the programme
          is to improve diversity at the conference and to offer support to those in the tech community who would
          not otherwise be able to attend, aimed at (but not restricted to) women, people from ethnic minorities
          and people with disabilities. Read more about the process <a href="https://codesync.global/opportunity-scheme/" target="_blank">here</a>.
      </p>
      </div>
      <div class="column">
      <p class="text-content">
          We are pleased to announce that Code BEAM America 2022 is implementing a Diversity Scheme. The goal of the programme
          is to improve diversity at the conference and to offer support to those in the tech community who would
          not otherwise be able to attend, aimed at (but not restricted to) women, people from ethnic minorities
          and people with disabilities. Read more about the process <a href="https://codesync.global/opportunity-scheme/" target="_blank">here</a>.
      </p>
      </div>
    </div>
</div>
