<div class="section hotels" id="hotels">
  <h2 class="title">HOTELS</h2>
  <hr />
  <h3 style="color:#ffffff">
    We managed to secure rooms at a special B&B rate per night for Code BEAM
    guests. Use the following links to get better prices at:
  </h3>
  <div class="row">
    <div class="col">
      <h4><a href="https://www.hyatt.com/en-US/hotel/california/jdv-hotel-avante/sjcja?src=corp_lclb_gmb_seo_sjcja" target="_blank">HOTEL AVANTE</a></h4>
      <p>860 E El Camino Real, Mountain View, CA 94040 <a href="https://g.page/HotelAvante?share" target="_blank">(map)</a></p>
      <p>PRICE PER DAY: <b>$199</b> </p>
      <p> without taxes for single and double occupancy.</p>
      <p> Price includes continental breakfast, wi-fi, self parking.</p>
      <p> Rooms are blocked till <b>19 Oct 2022.</b></p>
      <p>To book the rooms call <br>(+1 650) 940-1000 or 877-803-7534 or log on to <a href="https://www.hyatt.com/en-US/group-booking/SJCJA/G-GLOB">Hyatt.com</a> and refer to event name: Code Beam 2022.</p>
    </div>
    <div class="col">
        <h4><a href="https://www.dinahshotel.com" target="_blank">DINAH'S GARDEN HOTEL</a></h4>
        <p>4261 El Camino Real, Palo Alto, CA 94306 <a href="https://goo.gl/maps/3nfTqZ9x6yftAp3a7" target="_blank">(map)</a></p>
        <p>PRICE PER DAY: <b>$285</b></p>
        <p>without taxes for single and double occupancy.</p>
        <p>Price includes wi-fi, parking, fitness and business center. Doesn't include breakfast (additional charge).</p>
        <p>Rooms are blocked till <b>4 Oct 2022.</b></p>
        <p>To book the rooms click <a href="https://bookings.travelclick.com/4793?groupID=3647628#/guestsandrooms" target="_blank">here</a>.</p>
    </div>
    <div class="col">
        <h4><a href="https://www.radissonhotelsamericas.com/en-us/hotels/radisson-sunnyvale-silicon-valley?cid=a:se+b:gmb+c:amer+i:local+e:rad+d:us+h:USASUNC" target="_blank">RADISSON HOTEL SUNNYVALE - SILICON VALLEY</a></h4>
        <p> Chesapeake Terrace, Sunnyvale, CA 94089 <a href="https://g.page/RadissonSunnyvale?share" target="_blank">(map)</a></p>
        <p>PRICE PER DAY: <b>$169</b></p>
        <p>without taxes for single and double occupancy.</p>
        <p>Price includes breakfast buffet.</p>
        <p>Rooms are blocked till <b>14 Oct 2022.</b></p>
        <p>To book the rooms call (+1 866) 231-9273 or click <a href="https://www.radissonhotelsamericas.com/en-us/hotels/radisson-sunnyvale-silicon-valley" target="_blank">here</a>, pick the arrival and departure dates, and on the Special Rates section use the drop-down menu and select "Promotional Code" - type in CBEAM and click on Search.</p>
    </div>
    <div class="col">
        <h4><a href="https://www.theameswellhotel.com/?gclid=CjwKCAjwyaWZBhBGEiwACslQo1hkO80RpHjxjOC7VNtgFF8DVPNsk5mq8y5NfnjYFaeD6h9wsANIlRoCasUQAvD_BwE" target="_blank">THE AMESWELL HOTEL</a></h4>
        <p>800 Moffett Boulevard, Mountain View, CA 94043 <a href="https://goo.gl/maps/gsMZuVXjEW5kBsZu5" target="_blank">(map)</a></p>
        <p>PRICE PER DAY: <b>$339</b></p>
        <p>without taxes for single and double occupancy.</p>
        <p>Price DOESN'T include breakfast.</p>
        <p>Rooms are blocked till <b>19 Oct 2022.</b></p>
        <p>To book the rooms call click <a href="https://reservations.theameswellhotel.com/111994?groupID=3657099" target="_blank">here</a> and follow instructions.</p>
    </div>
  </div>
</div>
