<div class="section welcome" id="hotels">
    <h2 class="title">HOTELS</h2>
    <hr/>
    <div class="row">
      <div class="column"></div>
      <p class="text-content">
          We are pleased to announce that Code BEAM America 2022 is implementing a Diversity Scheme. The goal of the programme
          is to improve diversity at the conference and to offer support to those in the tech community who would
          not otherwise be able to attend, aimed at (but not restricted to) women, people from ethnic minorities
          and people with disabilities. Read more about the process <a href="https://codesync.global/opportunity-scheme/" target="_blank">here</a>.
      </p>
      <div class="column"></div>
      <p class="text-content">
          We are pleased to announce that Code BEAM America 2022 is implementing a Diversity Scheme. The goal of the programme
          is to improve diversity at the conference and to offer support to those in the tech community who would
          not otherwise be able to attend, aimed at (but not restricted to) women, people from ethnic minorities
          and people with disabilities. Read more about the process <a href="https://codesync.global/opportunity-scheme/" target="_blank">here</a>.
      </p>
      <div class="column"></div>
      <p class="text-content">
          We are pleased to announce that Code BEAM America 2022 is implementing a Diversity Scheme. The goal of the programme
          is to improve diversity at the conference and to offer support to those in the tech community who would
          not otherwise be able to attend, aimed at (but not restricted to) women, people from ethnic minorities
          and people with disabilities. Read more about the process <a href="https://codesync.global/opportunity-scheme/" target="_blank">here</a>.
      </p>
    </div>
</div>
