<div class="section hybrid" id="hybrid">
    <div class="row">
        <div class="left-content left">
          <h2 class="title">GOING HYBRID</h2>
          <hr/>
          <p>We continue delivering Code BEAM event to you in both in-person and online formats.
            <br/><br/>There are two different categories of conference tickets - for the in-person and virtual attendance. We're also offering four in-person tutorials and two virtual ones.
          </p>
          <p class="text-content mb-5" align="center" style="margin-top:3em">
              <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://codebeamamerica.com/2022/05/25/Hybrid-conference/">Read FAQ</a>
          </p>
        </div>
        <div class="logo">
          <br/>
          <img src="/assets/images/hybrid-conference.jpg" alt="hybrid-conference" style="display:block; width:80%; margin-left: auto; margin-right: auto">
        </div>
    </div>
</div>
