<div class="section register" id="register">
    <h2 class="title">REGISTER</h2>
    <hr/></br></br>
    <div class="register-widget" id="eventbrite-widget-container-195908887757">&nbsp;</div>

    <script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

    <script type="text/javascript">
        var exampleCallback = function() {
            console.log('Order complete!');
        };

        window.EBWidgets.createWidget({
            // Required
            widgetType: 'checkout',
            eventId: '195908887757',
            iframeContainerId: 'eventbrite-widget-container-195908887757',

            // Optional
            iframeContainerHeight: 700,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
            onOrderComplete: exampleCallback  // Method called when an order has successfully completed
        });
    </script>
</div>
