<div class="section sponsor" id="sponsors">
    <h2 class="title">SPONSORS</h2>
    <hr/>
    <!-- <p class="section-text">
        Nulla a tellus at turpis gravida congue non interdum et malesuada fames ac
                                                                                            ante ipsum primis
    </p> -->

    <div class="row sponsors">
      <h2 class="sponsor-title"> Diversity & Inclusion Sponsor </h2>

          <a href="https://www.erlang-solutions.com/" target="_blank">
              <img src="{{site.baseurl}}/assets/images/erlang-solutions-logo_erlang-solutions-logo-black.png" alt="Erlang Solutions" >
          </a>

 <h2 class="sponsor-title"> Lanyard Sponsor </h2>

          <a href="https://www.wyeworks.com/" target="_blank">
              <img src="{{site.baseurl}}/assets/images/sponsors/Wyeworks-Logo.png" alt="Wye Works" >
          </a>

 <h2 class="sponsor-title"> Student Tickets Sponsor </h2>

<a href="https://erlef.org" target="_blank">
              <img src="{{site.baseurl}}/assets/images/sponsors/EEF-logo.png" alt="EEF" >
          </a>              <
        
 <h2 class="sponsor-title"> Community Partners </h2>

          <a href="https://www.meetup.com/erlangelixirsf/" target="_blank">
              <img src="{{site.baseurl}}/assets/images/sponsors/erlang-elixir-SF-meetup.png" alt="Erlang & Elixir Meetup San Francisco" >
          </a>
        

<!--        <h2 class="sponsor-title">Media Sponsors</h2>

            <a href="https://media7.com/" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/Media 7-logo.png" alt="Media 7" style="height: 5em;">
            </a>
            <p>   </p>

            <a href="https://www.manning.com" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/manning-logo.png" alt="Manning" style="height: 3em;">
            </a>





        <!-- Sponsors Carousel -->
                    <!-- <div id="testimonials-carousel" class="sponsor-testimonial">
      {% for sponsor in site.data.sponsors %}
      <h3 class="name">{{ sponsor.name }}</h3>

      {% endfor %} -->
    </div>
</div>
