<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/San-Fran-background.jpeg');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUE</h2>
            <hr/>
            <p class="venue-subtitle">MARINES' MEMORIAL CLUB & HOTEL</p>
            <p class="venue-text">609 Sutter Street<br>
                San Francisco, CA 94102<br>
                United States<br>
                (800) 5-MARINE or 562-7463</p>
                <h2 class="venue-subtitle">
                  <strong><a href="https://marinesmemorial.org" style="color: #e32dfd" target="_blank">VENUE DETAILS</a><br>
                </h2>
                <p class="venue-subtitle">HOW TO GET THERE?</p>
                <p class="venue-text">-> DRIVING: From the Peninsula & San Francisco International Airport (SFO) or From the East Bay/Bay Bridge & Oakland International Airport (OAK).<br>
                    -> PUBLIC TRANSPORT: All Metro routes to Powell Street Station. Exit station and walk up Powell Street to Sutter Street. Turn left and go one block west to 609 Sutter Street (at Mason St.). By Cable Car, use Powell & Mason or Powell & Hyde routes, disembark at Sutter Street.<br>
                </p>
<!--
            <h2 class="venue-subtitle">Accommodation</h2><br>
            <p>We have secured rooms at the Hilton Warsaw City Hotel from PLN 702 (gross, rate is subject to availability) to book please follow <a href="https://www.hilton.com/en/book/reservation/deeplink?ctyhocn=WAWHIHI&arrivalDate=2021-09-08&departureDate=2021-09-10&groupCode=GERLD&fromId=HILTONLINKDIRECT" style="color: orange">this link.</a></p>
-->
        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>


</div>
