<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/San-Fran-background.jpeg');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUE & ACCOMMODATION</h2>
            <hr/>
            <p class="venue-subtitle">MARINES' MEMORIAL CLUB & HOTEL</p>
            <p class="venue-text">609 Sutter Street<br>
                San Francisco, CA 94102<br>
                United States<br>
                (800) 5-MARINE or 562-7463<br><br>
                <strong><a href="https://marinesmemorial.org" style="color: #e32dfd" target="_blank">VENUE DETAILS</a><br></p>
                <h2 class="venue-subtitle">ACCOMMODATION</h2>
                <p class="venue-text">
                  The prices are subject to tax - total tax percentage for San Francisco is 16.43%. Hotel does not charge a resort or destination fee.<br>
                  1) Yes, all rooms booked get the following : <br>
                  2) Daily Complimentary Breakfast and Happy Hour in our rooftop restaurant.<br>
                  3) Complimentary Wifi in all rooms.<br>
                  4) Complimentary access to the Fitness Center, Business Center and Library.<br><br>
                  THERE ARE 4 WAYS TO RESERVE ROOMS using the code CODE BEAM 2024:<br>
                  1) Ask for CODE BEAM 2024 block when calling MMC at 800-562-7463 or 415-673-6672 or<br>
                  2) fax Reservations Requests to 415-441-3649 or<br>
                  3) email Reservation Requests to: reservations@marinesmemorial.org.<br>
                  4) Visit <a href="https://marinesmemorial.org" target="_blank">Venue Website</a> and click on the Book a Stay or Make a Reservation Button. Type in the date of stay and offer code: CODEBEAM24. You will be able to book directly into your block.<br>
                </p>
<!--
            <h2 class="venue-subtitle">Accommodation</h2><br>
            <p>We have secured rooms at the Hilton Warsaw City Hotel from PLN 702 (gross, rate is subject to availability) to book please follow <a href="https://www.hilton.com/en/book/reservation/deeplink?ctyhocn=WAWHIHI&arrivalDate=2021-09-08&departureDate=2021-09-10&groupCode=GERLD&fromId=HILTONLINKDIRECT" style="color: orange">this link.</a></p>
-->
        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
        <p class="venue-subtitle">HOW TO GET THERE?</p>
        <p class="venue-text">-> DRIVING: From the Peninsula & San Francisco International Airport (SFO) or From the East Bay/Bay Bridge & Oakland International Airport (OAK).<br>
            -> PUBLIC TRANSPORT: All Metro routes to Powell Street Station. Exit station and walk up Powell Street to Sutter Street. Turn left and go one block west to 609 Sutter Street (at Mason St.). By Cable Car, use Powell & Mason or Powell & Hyde routes, disembark at Sutter Street.<br>
        </p>
    </div>


</div>
