<div class="section webinar" id="webinar">
    <div class="row">
        <div class="left-content left">
          <h2 class="title">FREE ONLINE WEBINAR</h2>
          <hr/>
          <p>Let's warm up before the conference! Join us on February 6 at 7PM (Pacific Time) for two amazing presentations from <a href="/participants/josh-price/" target="_blank">Josh Price</a> and <a href="/participants/brett-kolodny/" target="_blank">Brett Kolodny</a>.
          </br></br>
          Learn more about Gleam and how to build a non trivial full stack application with it, and learn about Ash and how we can connect it's introspectibility with LLMs. Expect practical examples and real-world implementations.
          </p>
          <p class="text-content mb-5" align="center" style="margin-top:3em">
              <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="">SIGN UP TBA</a>
          </p>
        </div>
        <div class="logo">
          <br/>
          <img src="/assets/images/CBA25 webinar.png" alt="webinar" style="display:block; width:80%; margin-left: auto; margin-right: auto">
        </div>
    </div>
</div>
