<div class="section webinar" id="webinar">
    <div class="row">
        <div class="left-content left">
          <h2 class="title">FREE ONLINE WEBINAR</h2>
          <hr/>
          <p>Let's warm up before the conference! Join us on February 7 for two amazing presentations from <a href="/participants/tyler-young.md" target="_blank">Typer Young</a> and <a href="/participants/andrew-ek.md" target="_blank">Andrew Ek</a>.
          </br></br>
          Learn more about Elixir, Phoenix and LiveView and how you can use them to build a complete application on your own, or how to use with them existing UI components.
          </p>
          <p class="text-content mb-5" align="center" style="margin-top:3em">
              <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://codebeamamerica.com/webinar2024">SIGN UP</a>
          </p>
        </div>
        <div class="logo">
          <br/>
          <img src="/assets/images/CBA24 webinar Feb7.png" alt="webinar" style="display:block; width:80%; margin-left: auto; margin-right: auto">
        </div>
    </div>
</div>
