<div class="section welcome" id="welcome">
     <h2 class="title">About the conference</h2>
     <hr/>

     <div class="row align-center">
         <div class="left-content flex-end">
             <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" height="400" src="https://www.youtube.com/embed/JVl2x5K1iXY" width="100%"></iframe>
         </div>
         <div class="right-content">
             <h3 class="text-title mb-1">The major North American event for Erlang and Elixir users</h3>
              <p> Our goal is simple: to create a vibrant platform where users of Elixir, Erlang, Gleam and other technologies based on BEAM VM can come together to share insights, get feedback on projects, and inspire each other to new heights. 
 
          <br><br>
Code BEAM has united Erlang & Elixir developers for years to grow and progress the community in the spirit of Share. Learn. Inspire.
Meet people and companies using and developing high performance, fault-tolerant and resilient applications that scale to billions of users in production in areas like Fintech, eCommerce, IoT, Gaming, Blockchain, Security, Machine Learning and more.
              </p>
         </div>
     </div>
 </div>
