<div class="section welcome" id="welcome">
     <h2 class="title">WELCOME</h2>
     <hr/>

     <div class="row align-center">
         <div class="left-content flex-end">
             <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" height="400" src="https://www.youtube.com/embed/JVl2x5K1iXY" width="100%"></iframe>
         </div>
         <div class="right-content">
             <h3 class="text-title mb-1">Join The major North American event for Erlang and Elixir users</h3>
             <p class="text-content mb-2">
                The major North American event for Erlang and Elixir users is coming back from virtual to in-person world! But, to make sure everyone feels safe and comfortable, we’re going to run a HYBRID event, combining both an in-person and virtual conference.
                <br><br>
                New format - new location! The event is taking place at Computer History Museum in Mountain View, CA (30 minutes drive from SFO Airport, 15 minutes drive from SJC Airport).
                <br><br>
              </p>
              <h4 class="call-for-talks" style="color: #fff; font-size: 22px">
                <span style="color: #e32dfd;">
                  2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  30+ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  300+</span>
                <br>
                DAYS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                TRACKS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                SPEAKERS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ATTENDEES
              </h4>
         </div>
     </div>
 </div>
