<div class="section welcome" id="welcome">
     <h2 class="title">WELCOME</h2>
     <hr/>

     <div class="row align-center">
         <div class="left-content flex-end">
             <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" height="400" src="https://www.youtube.com/embed/JVl2x5K1iXY" width="100%"></iframe>
         </div>
         <div class="right-content">
             <h3 class="text-title mb-1">Join The major North American event for Erlang and Elixir users</h3>
              <p> Erlang and Elixir share the same Virtual Machine, the BEAM. This ingenious little bit of technology is perfect for fault-tolerant, resilient applications that scale to billions of users, which is one of the biggest challenges facing developers and companies today. Code BEAM has united Erlang & Elixir developers for years to grow and progress the community in the spirit of Share. Learn. Inspire.
          <br><br>

          Share <br>
          Code BEAM is an event where leading developers in Erlang, Elixir and other BEAM based technologies like RabbitMQ share their use cases and success stories to allow us to grow together.

          <br><br>

          Learn <br>
          We pride ourselves on our connection with community and industry leaders. At Code BEAM events you’ll be the first to learn about new frameworks and applications for the BEAM VM that can increase your productivity and help make your life easier.
          <br>
          <br>
          Inspire <br>
          We believe that now, more than ever, conferences are a great opportunity to bring your team together to meet in person and connect with like-minded people to inspire the next big idea.
          <br>
              </p>
         </div>
     </div>
 </div>
