.hotels
    h3
        width: 100%
    .row
        .col
            padding: 1em
            width: 25%
            h4
                margin-bottom: 1em
                a
                    font-size: 1.2em
                    font-weight: 600
            p
                margin-bottom: .6em
                